/********************
|| General Styles
*********************/

html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;

  /* CSS Variables */
  --gray-text: hsl(0, 0%, 46%);
  --black-text: hsla(0, 0%, 10%, 1.0);
  --gray-border: hsla(0, 0%, 87%, 0.4);
  --champions-leage-blue: hsla(221, 100%, 61%, 1.0);
  --europa-leage-orange: rgb(242, 137, 1);
  --game-won: hsl(120, 38%, 47%);
  --game-draw: hsl(0, 1%, 61%);
  --game-lost: hsl(0, 99%, 46%);
  --game-not-played: hsl(0, 1%, 61%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* Display & Box Model */
  height: 100vh;

  /* Other */
  font-family: Arial, Helvetica, sans-serif;
}

.leagueTable {
  /* Display & Box Model */
  min-width: 320px;
  max-width: 753px;
  width: 100%;
  margin: 3rem auto;
  table-layout: fixed;

  /* Other */
  font-size: 1.4rem;
  color: var(--black-text);
  border: 1px solid var(--gray-border);
  border-collapse: collapse;
}

.fas {
  font-size: 1.6rem;
}

.fa-check-circle {
  color: var(--game-won);
}

.fa-minus-circle {
  color: var(--game-draw);
}

.fa-times-circle {
  color: var(--game-lost);
}

.fa-circle {
  color: var(--game-not-played);
}

/********************
|| Table Header
*********************/

thead th {
  /* Display & Box Model */
  border-bottom: 1px solid var(--gray-border);
  padding: 1rem 0 .5rem 0;

  /* Other */
  color: var(--gray-text);
  font-weight: normal;
  font-size: 1.2rem;
}

thead th:first-of-type {
  padding-left: 1rem;
}

/* Set fixed widths of every column except first */
thead th:not(th:nth-child(1)) {
  /* Display & Box Model */
  width: 30px;

  /* Other */
  text-align: center;
}

/* Hide columns in mobile */
.leagueTable-lastFiveHeader,
.leagueTable-drawsHeader,
.leagueTable-lossesHeader,
.leagueTable-goalsHeader,
.leagueTable-concededHeader,
.leagueTable-draws,
.leagueTable-losses,
.leagueTable-goals,
.leagueTable-conceded,
.leagueTable-lastFive {
  display: none;
}

/********************
|| Table Body
*********************/

tbody tr {
  border-bottom: 1px solid var(--gray-border);
}

/* Champions league places */
.leagueTable-uefa {
  border-left: .5rem solid var(--champions-leage-blue);
}

tbody td:first-of-type {
  text-align: left;
}

tbody td {
  text-align: center;
}

.leagueTable-standing > div {
  margin: 0 0 1px -1px;
  padding: 1rem 0 1rem 1.2rem;
}

/* Hide team crests in mobile */
.clubCrest {
  visibility: hidden;
}

thead th:first-of-type {
  padding-left: 1.5rem;
  text-align: left;
}

/********************
|| UEFA Styles
*********************/

/* Champions leage places have blue left borders */
tbody tr:first-of-type div,
tbody tr:nth-of-type(2) div,
tbody tr:nth-of-type(3) div,
tbody tr:nth-of-type(4) div {
  border-left: 3px solid var(--champions-leage-blue);
}

/* Europa league places have orange left borders */
tbody tr:nth-of-type(5) div {
  border-left: 3px solid var(--europa-leage-orange);
}

/* Normalize padding for cells without left borders */
tbody tr:nth-of-type(6) div,
tbody tr:nth-of-type(7) div,
tbody tr:nth-of-type(8) div,
tbody tr:nth-of-type(9) div,
tbody tr:nth-of-type(10) div {
  padding-left: 1.5rem;
}

/**
 * Remove default space from inline elements:
 * 1. Set font-size to 0 so spaces disappear
 * 2. Set actual font-size of span
 */
table div {
  font-size: 0; /* 1 */
}

div > span {
  font-size: 1.4rem; /* 2 */
}

.place {
  /* Display & Box Model */
  display: inline-block;
  width: 18px;

  /* Other */
  text-align: right;
}

/********************
|| Utilities
*********************/
.noBullets {
  list-style-type: none;
}

.troubleshooting {
  outline: 1px solid red;
}

.darkmode {
  background: black;
  color: white;
}

/********************
|| Media Queries
*********************/
@media only screen and (min-width: 321px) {
  /* Display club crests */
  .clubCrest {
    /* Display & Box Model */
    margin: 0 1rem;
    visibility: visible;
  }
}

.leagueTable-place {
  text-align: right;
}

@media only screen and (min-width: 460px) {
  .leagueTable {
    width: 558px;
  }

  /* Show columns in mobile */
  .leagueTable-lastFiveHeader,
  .leagueTable-drawsHeader,
  .leagueTable-lossesHeader,
  .leagueTable-goalsHeader,
  .leagueTable-concededHeader,
  .leagueTable-draws,
  .leagueTable-losses,
  .leagueTable-goals,
  .leagueTable-conceded,
  .leagueTable-lastFive {
    display: table-cell;
  }

  thead tr th:last-of-type {
    width: 110px;
  }
}

@media only screen and (min-width: 569px) {
  .leagueTable {
    width: 100%;
  }
}